
# --- Nextflow ---
work/
.nextflow/
.nextflow.log
.nextflow.log.*
results/
timeline.html
report.html
trace.txt
dag.dot
dag.svg

# --- Datos genomicos ---
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bam.bai
*.sam
*.vcf
*.vcf.gz
*.bed
*.fasta
*.fa
*.fna
data/real/
data/patient/

# --- Secretos y credenciales ---
.env
.env.local
.env.*.local
secrets/
*.key
*.pem
*.p12
*.pfx
config/credentials*

# --- Docker ---
.docker/

# --- Python  ---
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/

# --- Logs ---
*.log
logs/
nohup.out

# --- SBOM generados localmente ---
sbom-local.json
sbom-temp.json

# --- Sistema operativo ---
.DS_Store
Thumbs.db
desktop.ini
*~

# --- IDEs ---
.vscode/settings.json
.idea/
*.swp
*.swo

# --- Trivy cache ---
.trivy/
trivy-cache/.env
