// Parametros globales del pipeline
params {
    reads   = "data/mock/*.fastq.gz"
    outdir  = "results"
}

// Perfiles de ejecucion
profiles {

    // Perfil docker
    docker {
        docker.enabled         = true
        docker.runOptions      = '--user $(id -u):$(id -g) --cap-drop ALL'
        singularity.enabled    = false
    }

    // Perfil local — sin contenedores, para pruebas rapidas
    // Uso: nextflow run main.nf -profile local
    local {
        docker.enabled = false
    }

    // Perfil test — datos mock, para CI/CD
    // Uso: nextflow run main.nf -profile test,docker
    test {
        params.reads = "data/mock/*.fastq.gz"
    }
}